<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="atom" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<link name="pelvis">
		<inertial>
			<origin xyz="0.0006 0.0000 -0.0998"/>
			<mass value="6.5370"/>
			<inertia ixx="0.0344" ixy="0.0000" ixz="0.0001" iyy="0.0292" iyz="0.0000" izz="0.0214"/>
		</inertial>
		<visual>
			<geometry>
				<mesh filename="file://$(find dobot_atom_description)/meshes/body/pelvis.obj"/>
			</geometry>
		</visual>
	</link>

	<!-- Left Leg -->
	<xacro:include filename="$(find dobot_atom_description)/xacro/leg.xacro"/>
	<xacro:AtomLeg name="" direction="1" parent_link="pelvis"/>

	<!-- Right Leg -->
	<xacro:AtomLeg name="" direction="-1" parent_link="pelvis"/>

	<!-- Upper Body (Torso, Head, IMU) -->
	<xacro:include filename="$(find dobot_atom_description)/xacro/upper_body.xacro"/>
	<xacro:AtomUpperBody parent_link="pelvis" type="full"/>

	<!-- Left Arm -->
	<xacro:include filename="$(find dobot_atom_description)/xacro/arm.xacro"/>
	<xacro:AtomArm name="left_" direction="1" parent_link="torso_link"/>

	<!-- Right Arm -->
	<xacro:AtomArm name="right_" direction="-1" parent_link="torso_link"/>

</robot>
